<style>
    .mydiv {
        /* width: 300px; */
        /* background-color: #ffcc33; */
        width: 100%;
        float: left;
        /* background-color: green; */
        /* margin: auto; */
        padding-top: 2%;
        padding-bottom: 2%;
        margin-bottom: 2%;
    }

    .leftdiv {
        /* width: 300px; */
        /* background-color: #ffcc33; */
        width: 30%;
        float: left;
        /* background-color: red; */
        margin: auto;
        transition: transform .2s;
        /* Animation */
        padding-right: 1%;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }

    .rightdiv {
        /* width: 300px; */
        /* background-color: #ffcc33; */
        width: 70%;
        float: right;
        /* background-color: blue; */
        margin: auto;
        padding-left: 1%;
        vertical-align: middle;
    }

    .leftdiv:hover {
        transform: scale(2);
        /* (250% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }

    .papertitle {
        /* font-size: 1.1vw; */
        font-size: 0.95em;
        font-weight: bold;
        margin-bottom: 1%;
    }

    .paperauthors {
        /* font-size: 0.9vw; */
        font-size: 0.8em;
        margin-bottom: 0.;
    }

    .papervenue {
        /* font-size: 0.9vw; */
        font-size: 0.8em;
        margin-bottom: 0.;
        font-style: italic;
    }

    .paperfootnote {
        /* font-size: 0.9vw; */
        font-size: 0.7em;
        padding-bottom: 1%;
        margin-top: 0.;
    }

    .paperlinks {
        /* font-size: 0.9vw; */
        font-size: 0.7em;
        margin-top: 1%;
        font-weight: 400;
    }

    hr {
        /* set width same as mydiv */
        width: 100%;
        height: 2px;
        /* Set the hr color */
        color: #f2f2f2;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
</style>

<h3 id="selected-projects">Projects</h3>

<div class="mydiv">
    <div class="leftdiv">
        <img src="./assets/img/mlls.png" alt="drawing" style="width:100%;" />
    </div>
    <div class="rightdiv">
        <div class="papertitle"></div>
        <div class="papertitle"><a href="assets/pdf/MLLS_report.pdf" target="_blank">SparseAdapt: Unsupervised test-time source-free domain adaptation via sparsity</a></div>
        <div class="paperauthors">Aditya Annavajjala, Shreyas M. Patil, Ashlyn D'Souza, Akash Nandi</div>
        <div class="papervenue">(Technical Report)</div>
    </div>
</div>

<div class="mydiv">
    <div class="leftdiv">
        <img src="./assets/img/mlls_fig.jpeg" alt="drawing" style="width:100%;" />
    </div>
    <div class="rightdiv">
        <div class="papertitle"></div>
        <div class="papertitle"><a href="assets/pdf/StatML_project.pdf" target="_blank">JointKGLearn: Improving Knowledge Graph Link Prediction Using Relation Extraction</a></div>
        <div class="paperauthors">Aditya Annavajjala, George Stoica, Ketaki Jain, Chiraag Kaushik</div>
            <div class="papervenue">(Technical Report)</div>
    </div>
</div>

<div class="mydiv">
    <div class="leftdiv">
        <img src="./assets/img/reddit_logo.png" alt="drawing" style="width:100%;" />
    </div>
    <div class="rightdiv">
        <div class="papertitle"><a href="assets/pdf/CollectiveWisdom_LPT.pdf" target="_blank">Collective Wisdom: A Community Study of r/LifeProTips</a></div>
        <div class="paperauthors">Aditya Annavajjala, Ayushi Mathur, Poojita Garg</div>
        <div class="papervenue">(Technical Report)</div>
    </div>
</div>

<div class="mydiv">
    <div class="leftdiv">
        <img src="./assets/img/cityscapes.png" alt="drawing" style="width:100%;" />
    </div>
    <div class="rightdiv">
        <div class="papertitle"></div>
        <div class="papertitle"><a href="assets/pdf/MLLS_presentation.pdf" target="_blank">Generalize Then Adapt: Source-Free Domain Adaptive Semantic Segmentation</a></div>
        <div class="paperauthors">Aditya Annavajjala, Sourish Dhekene, Pranav Guruprasad</div>
        <div class="papervenue">(Paper Presentation)</div>
    </div>
</div>
